---
layout: layouts/admin.njk
adminPage: activity
adminTitle: Activity
adminHeading: What has been <b>done</b>
permalink: /admin/activity/index.html
adminScript: /js/activity.js
---

<div class="act-list" id="admAudit">
  <p class="empty" data-i18n="common.loading">Loading…</p>
</div>
