---
layout: layouts/admin.njk
adminPage: index
adminTitle: Overview
adminHeading: The <b>organization</b>
permalink: /admin/index.html
---
{#- One row, every tile a way in. There used to be a second row of links that
   repeated People and Partners with the same numbers. -#}
<div class="tiles" id="admTiles"></div>
